<table align="center">
    <tr>
        <th id="main" colspan="4">Cyber Security</th>
    </tr>
    <tr>

        <th><a  (click)="open('home')" class="menu" href="">Home</a></th>
        <th><a (click)="open('agent')" class="menu" href="">Agent</a></th>
        <th><a (click)="open('defence')" class="menu" href="">Defence</a></th>
        <th><a (click)="open('admin')" class="menu" href="">Admin</a></th>
    </tr>
    <tr>
        <app-admin></app-admin>
        <app-defence></app-defence>
        <app-agent></app-agent>
    </tr>
    <tr>
        <th colspan="4"><h3 id="down">@Copyrights -Sathyam</h3></th>
    </tr>
</table>
